SRSRAN_GNB_BIN=gnb
SRSRAN_UE_BIN=srsue
GNB_ZMQ_TX=tcp://127.0.0.1:2000
GNB_ZMQ_RX=tcp://127.0.0.1:2001
UE_ZMQ_TX=tcp://127.0.0.1:2002
UE_ZMQ_RX=tcp://127.0.0.1:2003
SAMPLE_RATE_MSPS=5.76
UE_NAMESPACE=ue1
UE_TUN=uesimtun0
